<div class="modal-header">
    <span style="font-size: 18px; font-weight: bolder;">{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <thead>
        <tr>
          <th>월</th>
          <th>매출</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of modalContent">
          <td>{{item.month}}</td>
          <td>{{item.money}}</td>
        </tr>
        <tr>
          <td>합계</td>
          <td>{{moneySum}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="closeModal()">돌아가기</button>
  </div>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>