nb-card-header {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: -20px;
  font-weight: bolder;
}
.searchBar {
  padding: 10px 20px 5px;
  border: solid 2px #6178e8;
  background: #6178e829;
  margin-bottom: 30px;
}

.record {
  font-weight: normal;
  font-size: 18px;
}

input {
  border: 2px solid #dadfe6;
  padding: 5px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-paginator-page-size {
  display: none !important;
}
.filter {
  float: right;
  margin-bottom: 10px;
}
.filter input {
  border-radius: 10px;
  padding: 7px 10px 5px;
}

button {
  float: right;
  display: block;
  color: white;
  background-color: #4e90d9;
  padding: 7px 35px 5px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 20px;
}