<nb-card>  
  <nb-card-header>충전 현황</nb-card-header>
  <nb-card-body>   
    <div class="panel panel-default">
        <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
          <tr>              
              <th style="width: 5%">
                  <mfDefaultSorter by="payment_no">번호</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                  <mfDefaultSorter by="amount">충전요금</mfDefaultSorter>
              </th>
              <th style="width: 25%">
                  <mfDefaultSorter by="storeName">매장이름</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                  <mfDefaultSorter by="manager_name">매니저이름</mfDefaultSorter>
              </th>
              <th style="width: 20%">
                  <mfDefaultSorter by="createdAt">충전일</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                  <mfDefaultSorter>승인여부</mfDefaultSorter>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data; let i = index" [attr.data-index]="i">
              <!-- <td style="width: 10%">{{i+1}}</td> -->
              <td style="width: 5%">{{item.payment_no}}</td>
              <td style="width: 20%">{{item.amount | number}}</td>
              <td style="width: 25%">{{item.storeName}}</td>
              <td style="width: 20%">{{item.manager_name}}</td>
              <td style="width: 20%">{{item.createdAt.substr(0, 10)}}</td>
              <td style="width: 10%"><button class="btn btn-success" (click)="verify(item.id)">승인</button></td>
              <!-- .substr(0, 10) -->
          </tr>
          </tbody>
          <tfoot>
          <tr>
              <td colspan="6">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
          </tr>
          </tfoot>
      </table>
  </div>
  </nb-card-body>
</nb-card>

    
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>