nb-card {
    transform: translate3d(0, 0, 0);
  }
nb-card-header {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: -20px;
  font-weight: bolder;
}
.searchBar {
  padding: 10px 20px 5px;
  border: solid 2px #e8e368;
  background: #deda3629;
  margin-bottom: 30px;
}

.searchBar button {
  color: white;
  font-weight: bold;
  background-color: #659c08;
  border: none;
  padding: 5px 12px 3px;
  border-radius: 5px;
}
.ng2-smart-filters {
  display: none;
}
.table th {
  color: #181818;
  font-weight: bolder;
}
.table th, .table td {
    border: 1px solid #dee2e6;
    text-align: center;
}